.root {
    height: 44px;
    width: max-content;
    color: var(--color-secondary-dark);
    border-radius: var(--border-radius-xs);
    padding: var(--pading-xl);
}

/* Стили primary начало */
.primary {
    color: var(--white);
    background: var(--purple);
}

.primary:hover {
    background: var(--purple2);
}
/* Стили primary конец*/


/* Стили secondaryDark начало */
.secondaryDark {
    border: var(--size-xxs) solid var(--border-color-secondary-dark);
    background: var(--white);
    color: var(--black);
}

.secondaryDark:hover {
    background:  var(--hover-bg-secondary-dark);
}
/* Стили secondaryDark конец*/
.focus {
    border: var(--size-xs) solid var(--border-color-secondary-focus);
}
.fullWidth {
    width: 100%;
}
