.root {
    padding: var(--pading-xl);
    max-width: max-content;
    max-height: max-content;
    border-radius: var(--border-radius-xs);
}

/* Стили primary начало */
.primary {
    color: var(--white);
    background: var(--purple);
}

.primary:hover {
    background: var(--purple2);
}
/* Стили primary конец*/


/* Стили secondaryDark начало */
.secondaryDark {
    color: var(--color-secondary-dark);
    background: var(--bg-secondary-dark);
    border: var(--size-xxs) solid var(--border-color-secondary-dark);
}

.secondaryDark:hover {
    background:  var(--hover-bg-secondary-dark);
}
/* Стили secondaryDark конец*/
.focus {
    border: var(--size-xs) solid var(--border-color-secondary-focus);
}