.primary {
    padding: 10px 20px;
    max-width: max-content;
    max-height: max-content;
    background: var(--Primary);
    border-radius: 4px;
    color: var(--White);
}

.primary:hover {
    background: var(--PrimaryHover);
}

.primaryFocus {
    border: var(--Border);
}
.secondaryDark {
    color: var(--Black);
    background: var(--White);
    border: var(--secondaryDarkBorder);
    padding: 10px 20px;
    max-width: max-content;
    max-height: max-content;
    border-radius: 4px;
}
.secondaryDark:hover {
    background: var(--secondaryDarkHover);
}

.secondaryDarkFocus {
    border: var(--Border);
}