.root {
    border-radius: var(--border-radius-xs);
}

/*Стили inputs начало*/
.inputs {
    width: 482px;
    height: 56px;
    box-shadow: var(--DefaultShadow);
    background: var(--white);
    color: var(--gray1);
}
/*Стили inputs конец*/

.inputs:hover {
    box-shadow: var(--DefaultShadowHover)
}

/*Стили Error Active - Filled начало*/
.errorActiveFilled {
    background: var(--red-Girl);
}
/*Стили Error Active - Filled конец*/
.label {
    padding-left: 15px;
    position: relative;
    top: -35px;
    transition: .3s;
}
.inputs:focus~.label {
    font-size: 10px;
    transform: translateY(-15px);
}
.inputs:not(:focus)~.label {
    transform: translateY(-5px);
    transition: .3s;
}