.green {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #e5ffe7;
}
.skill {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
.headItem {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 12px;
}
.dataItem2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 3px;
    border-bottom: 1px solid #ccc;
}
/*.work {*/
/*    margin-bottom: 3px;*/
/*}*/
/*.dolsnost {*/
/*    margin-bottom: 3px;*/
/*}*/
/*.data {*/
/*    margin-bottom: 3px;*/
/*}*/