
.formInput {
    width: 410px;
    margin: 0 auto;
}

.textarea {
    width: calc(100% - 16px);
    height: 56px;
    background: var(--white);
    box-shadow: var(--DefaultShadow);
    resize: none;
    font-size: 16px;
    color: var(--gray);
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 0;
    margin-bottom: 30px;
}

.inputName {
    margin-bottom: 20px;
}
.inputEmail {
    margin-bottom: 20px;
}
.buttonCall {
    margin-bottom: 20px;
}

