
.formInput {
    width: 410px;
}

.textarea {
    height: 56px;
    background: var(--white);
    box-shadow: var(--DefaultShadow);
    resize: none;
    font-size: 16px;
    color: var(--gray);
    padding-left: 16px;
    padding-top: 16px;
    width: 100%;
    margin-bottom: 30px;
}

.inputName {
    margin-bottom: 10px;
}
.inputEmail {
    margin-bottom: 20px;
}
